// ==========================
// SASS MAP & FONCTIONS
// ==========================

// 1️⃣ Import Sass map
@use "sass:map";
@use "sass:list";

// ==========================
// FONTS COMPADRE
// ==========================

@font-face {
  font-family: "Compadre";
  src: url("../assets/fonts/Compadre/Compadre-Regular.woff2") format("woff2"),
       url("../assets/fonts/Compadre/Compadre-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Compadre";
  src: url("../assets/fonts/Compadre/Compadre-Narrow.woff2") format("woff2"),
       url("../assets/fonts/Compadre/Compadre-Narrow.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Compadre";
  src: url("../assets/fonts/Compadre/Compadre-Wide.woff2") format("woff2"),
       url("../assets/fonts/Compadre/Compadre-Wide.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Compadre";
  src: url("../assets/fonts/Compadre/Compadre-Extended.woff2") format("woff2"),
       url("../assets/fonts/Compadre/Compadre-Extended.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

// ==========================
// FONTS NOAH TEXT
// ==========================

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextUltraThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextUltraThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextThin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextThinItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextRegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextMediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextSemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextBoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NoahText";
  src: url("../assets/fonts/NoahText/NoahTextBlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

// ==========================
// FONTS CosiTimes
// ==========================

@font-face {
  font-family: "CosiTimes";
  src: url("../assets/fonts/CosiTimes/CosiTimes-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

// ==========================
// FONTS Roboto
// ==========================

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

// ==========================
// FONTS Twentieth Century
// ==========================

@font-face {
  font-family: "TwentiethCentury";
  src: url("../assets/fonts/TwentiethCentury/TwentiethCentury.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

// ==========================
// FONTS PPMonumentExtended
// ==========================

@font-face {
  font-family: "PPMonumentExtended";
  src: url("../assets/fonts/PPMonumentExtended/PPMonumentExtended.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

$fonts: (
  // Compadre
  "compadre-narrow":   ("Compadre", 100, normal),
  "compadre-regular":  ("Compadre", 400, normal),
  "compadre-extended": ("Compadre", 700, normal),
  "compadre-wide":     ("Compadre", 900, normal),
  // Noah Text
  "noah-ultrathin":          ("NoahText", 100, normal),
  "noah-ultrathin-italic":   ("NoahText", 100, italic),
  "noah-thin":               ("NoahText", 200, normal),
  "noah-thin-italic":        ("NoahText", 200, italic),
  "noah-light":              ("NoahText", 300, normal),
  "noah-light-italic":       ("NoahText", 300, italic),
  "noah-regular":            ("NoahText", 400, normal),
  "noah-regular-italic":     ("NoahText", 400, italic),
  "noah-medium":             ("NoahText", 500, normal),
  "noah-medium-italic":      ("NoahText", 500, italic),
  "noah-semibold":           ("NoahText", 600, normal),
  "noah-semibold-italic":    ("NoahText", 600, italic),
  "noah-bold":               ("NoahText", 700, normal),
  "noah-bold-italic":        ("NoahText", 700, italic),
  "noah-extrabold":          ("NoahText", 800, normal),
  "noah-extrabold-italic":   ("NoahText", 800, italic),
  "noah-black":              ("NoahText", 900, normal),
  "noah-black-italic":       ("NoahText", 900, italic),
  // CosiTimes
  "cosi-bold":              ("CosiTimes", 700, normal),
  // Roboto
  "roboto-regular":              ("Roboto", 400, normal),
  "roboto-LIGHT":              ("Roboto", 300, normal),
  // Twentieth Century
  "twentieth-century":     ("TwentiethCentury", 400, normal),
  // PPMonumentExtended
  "ppmonumentextended":     ("PPMonumentExtended", 400, normal),
);

// 3️⃣ Fonctions pour récupérer les valeurs par clé
@function font($name) {
  $entry: map.get($fonts, $name);
  @return list.nth($entry, 1); // font-family
}

@function weight($name) {
  $entry: map.get($fonts, $name);
  @return list.nth($entry, 2); // font-weight
}

@function style($name) {
  $entry: map.get($fonts, $name);
  @return list.nth($entry, 3); // font-style
}