@use "sass:map";
@use "../../styles/variables" as *;

.home {
  &__title {
    &--wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
      width: 100%;
      height: 95vh;
      padding-right: 5vw;
      font-size: 5rem;
      color: map.get(map.get($colors, "beige"), 500);
    }
  }
}
